@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: #2d2d2e;
  --filterInvert: 100%;
  --header-border-color: hsla(0, 0%, 0%, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border-color: #e5e7eb;
    --filterInvert: 0;
    --header-border-color: hsla(0, 0%, 100%, 0.1);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  border-color: var(--border-color) !important;
}

.stroke-text {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke-color: var(--foreground);
}

@keyframes gradient-wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-wave {
  animation: gradient-wave 5s ease infinite;
}

.mask-gradient {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

